{{#extends 'base'}}

{{#block "content"}}

{{!-- #each acts like a for as loop --}}
{{#each fruits}}
<div style="border:1px solid black;">
<p>{{this}}</p>
</div>
{{/each}}

{{#ifEquals favourite "apples"}}
<p>Doctors hate you</p>
{{else}}
<p>You will always fall sick</p>
{{/ifEquals}}


{{/block}}

{{/extends}}

